<div class="row">
  <div class="col-xs-10">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-10">
          <button type="submit" style="margin: 5px;" class="btn btn-success"
            [disabled]="!recipeForm.valid">Save</button>
          <button type="button" style="margin: 5px;" class="btn btn-warning" [disabled]="!recipeForm.dirty"
            (click)="Onclear()">Clear</button>
          <button type="button" style="margin: 5px;" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10">
          <div class="form-group">
            <label for="name" style="color:ivory">Name</label>
            <input type="text" id="name" formControlName="name" class="form-control" autocomplete="off">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10">
          <div class="form-group">
            <label for="imagepath" style="color:ivory">Image URL</label>
            <input type="text" id="imagepath" formControlName="imagepath" class="form-control" #imagepath>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10">
          <img [src]='imagepath?.value' alt="no-img" class="img-responsive" style="height: 200px;">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10">
          <div class="form-group">
            <label for="description" style="color:ivory">Description</label>
            <textarea type="text" id="description" class="form-control" formControlName="description"
              rows="6"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10" formArrayName="ingredients">
          <div class="row" *ngFor="let ingredientCtrl of controls; let i = index" [formGroupName]="i" style="margin-top:
                      10px;">
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="col-sm-2">
              <input type="number" class="form-control" formControlName="amount">
            </div>
            <div class="col-xs-2">
              <button type="button" class="btn btn-danger" (click)="onDeleteIngredient(i)">X</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-10">
              <button type="button" class="btn btn-success" (click)="onAddIngredient()">Add
                Ingredient</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>