<div class="row" id="recipe-detail">
  <div class="col-xs-12">
    <img [src]='recipe.imagepath' alt='{{recipe.name}}' style="height: 300px; max-width: 300px;">
  </div>

  <div class="row">
    <div class="col-xs-12"><br>
      <h2 style="color:rgb(228, 228, 228);text-align: left;"><u>{{recipe.name}}</u></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown">
          Manage Recipe
        </button>
        <ul class="dropdown-menu" style="text-align: center;">
          <li><a class="dropdown-item" (click)="onAddToShoppingList()">ADD TO CART</a></li>
          <li><a style="cursor: pointer;" (click)="onEditRecipe()">EDIT RECIPE</a></li>
          <li><a style="cursor: pointer;" (click)="onDeleteRecipe()">DELETE RECIPE</a></li>
        </ul>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <u style="color:ghostwhite;text-align: center;">DESCRIPTION</u><br><b>
            <p style="color:ghostwhite;text-align: center;">{{recipe.description}}</p>
          </b>
        </div>

      </div>
      <div class="row">
        <div class="col-xs-12">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients"><b>
                {{ ingredient.name }} - {{ ingredient.amount }}
              </b> </li>
          </ul>
        </div>
      </div>