<div class="row" id="recipe-list-box">
  <div class="col-xs-12">
    <a class="list-group-item clearfix" [routerLink]="[index]" routerLinkActive="active">
      <div class=pull-left>
        <h5 class="list-group-item-heading">{{recipe.name}}</h5>
        <!-- <p class="list-group-item-text">{{recipe.description}}</p> -->
      </div>
      <span class="pull-right">
        <img src={{recipe.imagepath}} alt={{recipe.name}} class="image-responsive"
          style="max-height:60px;max-width:80px;"></span>
    </a>
  </div>
</div>