<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name" style="color:white ;">Name</label>
          <input type=" text" id="name" class="form-control" ngModel name="ingredient" required="text">
          <!--pattern="[A-Za-z]"-->
          <!-- #nameInput -->

        </div>
        <div class="col-sm-5 form-group">
          <label for="amount" style="color:white">Amount</label>
          <input type="number" id="amount" class="form-control" ngModel name="amount" required="number">
          <!-- #amountInput -->
        </div>
      </div><br>

      <div class="row">
        <div class="col-xs-12 form-group">
          <button class="btn btn-success" id="edit-btns" [disabled]="! f.valid">Add</button>
          <!--(click)="onAddItem($event)"-->
          <button class="btn btn-primary" id="edit-btns">Delete</button>
          <button class="btn btn-danger" id="edit-btns">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>