div {
  text-align: center;
}

.imagepreview {
  overflow: hidden;
}

::ng-deep .ngxImageZoomContainer>img {
  max-width: 650px;
  max-height: 650px;
  overflow: hidden;

}

::ng-deep .ngxImageZoomThumbnail>img {
  max-width: 450px;
  max-height: 450px;
  overflow: hidden;
}

.toggle {
  width: 450px;

}